<div class="card" style="width: 100%; height: 10rem;">
    <img class="card-img-top" src="/images/lampada<%= controlador.status %>.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%= controlador.title %></h5>
        <a href="/actuators/<%= controlador.id %>" class="btn btn-primary">Acionar</a>
    </div>
</div>