<div class="card" style="width: 100%; height: 50%;">
    <img class="card-img-top" src="<%= `/images/${switch.image}` %>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%= switch.title %></h5>
        <a href="#" class="btn btn-primary"><%= switch.button %></a>
    </div>
</div>