.post-detail img {
    width: 800px;
    height: 80px;
}

.post-detail h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
}

.testimony {
    margin-bottom: 40px;
}

.testimonial-description {
    display: block;
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.card-img-top {
    margin: 10px;
    width: 100px;
    height: 120px;
}

.cart-bottom-menu {
    margin-top: 10px;
}

.cart-total {
    font-size: 24px;
    font-weight: bold;
}
