<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
        <h1>Administração de Posts</h1>
    </div>

    <div class="row mb-2">
        <a href="/admin/posts/create" class="btn btn-success">Novo Post</a>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Título</th>
              </tr>
            </thead>
            <tbody>
              <% posts.forEach((post) => { %>
                <tr>
                  <td><%= post.id %></td>
                  <td><%= post.title %></td>
                </tr>
              <% }); %>
              
            </tbody>
          </table>
    </div>
  </div>
</body>
</html>